{% extends "layout.html" %}

{% block content %}

  <div class="page-header">
    <h1>Welcome to Twitter.js, Nimit!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Your Name</b><br>
      100 followers
    </div>
    <div class="col-md-9">

      <!-- display tweets here -->
      {% for tweet in tweets %}
        <div class="user-and-tweet">
          <div class="user-picture">
            <a href="/users/{{tweet.user}}">
              <img src="{{tweet.pictureUrl}}">
            </a>
          </div>
          <a href="/users/{{tweet.user}}">{{tweet.user}}</a> - <a href="/users/{{tweet.name}}/tweets/{{tweet.id}}">{{tweet.text}}</a>
        </div>
      {% endfor %}

    </div>
  </div>

{% endblock %}